/************** TAG SELECTORS ****************/
body {
  background-color:#C5C571;
  text-align: center;
}

span {
  color: white;
  background-color: black;
  text-decoration: underline;
}
h1 {
  color:#C47C35;
  text-decoration:none;
  font-family: serif;
  width: 20%;
  margin: 0 auto 0 auto;


}
h2 {
  margin-top: 15px;
}

h3 {
  color: #C47C35
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
p {
  font-family: monospace;
  font-size: 20px;
}

table {
  margin: auto;
  text-align: center;
}
#navbarTogglerDemo02{
  position: fixed;
}
/********************** CLASS SELECTORS *****************/
.dropdown{
  margin-top:10px;
  padding-left: 60%;
}
.gallery {
  font-size: 30px;
}
.topcloud {
  top: 5px;
  position: relative;
  display: inline-block;
}
.mountain {
  position: relative;


}
.top-cloud {
  position: absolute;
  right:20px;
  display: inline;

}
.bottom-cloud {
  position: absolute;

}
.profile {
  margin-left: 20px;
  position:relative;
  width:20%;
  float: right;
}

.skill-row {
  width:50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 1;
}

.code-img {
  width:13.2%;
}
.icon-java {
  width:23.2%;
}
.icon-js{
  width:14%;

}
.icon-css {
  width:14%;

}
  .paragraph1 {
    width:100%;
  }

.footer-link {
  margin:20px;
}
.jumbotron {
  margin-top: auto;
}
.navbar-brand{
margin-right: 5%;
  padding-top:20px;
}

.secBtn {
  margin-left: 20px;
  padding-left: 10px;
}
.white-section {
  width:100%;
  text-align: center;
  position: relative;
}
.card{
  margin:10px;
}
