/************** TAG SELECTORS ****************/
body {
  background-color:#C5C571;
  text-align: center;
}
span {
  background-color: blue;
  color: white;

}
span {
  color: white;
  background-color: black;
  text-decoration: underline;
}
h1 {
  color:#C47C35;
  text-decoration:none;
  font-family: serif;
  width: 10%;
  margin: 0 auto 0 auto;

}

h3 {
  color: #C47C35
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
p {
  font-family: monospace;
  font-size: 20px;
}

 }
p {
  font-family: monospace;
  font-size: 30px;
}
table {
  margin: auto;
  text-align: center;
}
/********************** CLASS SELECTORS *****************/
.gallery {
  font-size: 30px;
}
.topcloud {
  top: 0px;
}
.mountain {
  position: relative;
  margin-right: 100px;

}
.top-cloud {
  position: absolute;
  right: 450px;
  display: inline;

}
.bottom-cloud {
  position: absolute;

}
.profile {
  margin-left: 100px;
  position:relative;
  width:20%;
  float: left;
}

.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.intro {
  :

}
.code-img {
  width:13.2%;
}
.icon-java {
  width:23.2%;
}
.icon-js{
  width:14%;
  float:right;
}
.icon-css {
  width:14%;
  float:left;
}
  .paragraph1 {
    width:50%;
  }

#heading-name {
  width:10%;
  margin-top: 200px;
}
.jumbotron {
  margin-top: auto;
}
